@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(https://images.unsplash.com/photo-1556623695-bc86a6edb75a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    background-size: cover;
    background-position: center;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 1rem;
}
.logo{
    color: white;
    font-size: 30px;
}
span{
    color:#63A465;
}
header ul li{
    list-style-type: none;
    display: inline-block;
    padding: 1rem 2rem;
}
header ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header ul li a:hover{
    transition: 300ms;
    color: #63A465;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
h1{
    color: #63A465;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;

}
p{
    margin-bottom: 2rem;
    color: white;
    font-size: 20px;
    line-height: 1.7;
    font-weight: 500;
}

.pfp{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #63A465;
    margin-bottom: 1rem;
}

.col{
    margin-top: 2rem;
    text-align: center;

}

.col1{
    margin-top: 2rem;
    text-align: center;

}
img{
    margin-top: 2rem;
    border-radius: 50%;
}

.row{
    display: flex;
    height: 60%;
    align-items: center;
}