@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');
* {
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}
body {
    background: linear-gradient(315deg, rgb(35, 141, 136) 3%, rgb(102, 204, 127) 38%, rgb(28, 122, 83) 68%, rgb(103, 148, 20) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    padding: 0;	
	margin: 0;
	min-height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.wave:nth-of-type(2) {
    bottom: -2.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}
.wave:nth-of-type(3) {
    bottom: -5.5em;
    animation: wave 20s -2s reverse infinite;
    opacity: 0.9;
}
@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.Matcha a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
    text-decoration: none;
}
.Matcha a,
.main-nav a {
	color: #000000;
	font-size: .99em;
}
.main-nav a:hover {
	color: #718daa;
}
.navbar {
    opacity: 0.8;
    background-color: white;
    width: 100%;
    height: 10%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
	padding-top: 1px;
}
@media (min-width: 769px) {
	.navbar,
	.main-nav {
		display: flex;
	}
	.navbar {
		flex-direction: column;
		align-items: center;
	}
}
@media (min-width: 1025px) {
	.navbar {
		flex-direction: row;
		justify-content: space-between;
	}
}
/* =====================================
Background and Navbar Above This Comment
======================================== */

.page-1 {
    display: flex;
    position: relative;
    top: 200px;
    font-size: 64px;
    text-align: center;
}

.box-1 {
    height: 400px;
    width: 490px;
    border: 10px solid;
    border-radius: 20px;
    opacity: 0.8;
    background-color: white;
}

.box-2 {
    height: 400px;
    width: 490px;
    border: 10px solid;
    border-radius: 20px;
    opacity: 0.8;
    background-color: white;
    border: solid 10px;
}

.box-3 {
    height: 400px;
    width: 490px;
    border: 10px solid;
    border-radius: 20px;
    opacity: 0.8;
    background-color: white;
}

.box-4 {
    height: 650px;
    width: 490px;
    font-size: 46px;
    border: 10px solid;
    border-radius: 20px;
    opacity: 0.8;
    background-color: white;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    order: -1;
    align-items: center;
}

#box-4-heading-1 {
    font-size: 36px;
}

#box-4-heading-2 {
    font-size: 24px;
}

#box-4-text {
    font-size: 24px;
    width: 380px;
}

.page-1-buttons {
    position: absolute;
    height: 60px;
    width: 245px;
    font-size: 24px;
    transition-duration: 0.3s;
    cursor: pointer;
}

#button-1 {
    position: relative;
    justify-content: center;
    background-color: white;
    border: none;
    border-radius: 20px;
}

#button-2 {
    position: relative;
    justify-content: center;
    background-color: white;
    border: none;
    border-radius: 20px;
}

#button-3 {
    position: relative;
    justify-content: center;
    background-color: white;
    border: none;
    border-radius: 20px;
}

#button-1:hover {
    background-color: #4CAF50;
    color: white;
  }

  #button-2:hover {
    background-color: #4CAF50;
    color: white;
  }

  #button-3:hover {
    background-color: #4CAF50;
    color: white;
  }

.image-education {
    height: 263px;
    width: 400px;
    position: relative;
    align-items: center;
}

.image-portfolio {
    height: 263px;
    width: 400px;
    position: relative;
    align-items: center;
}

.image-hobbies {
    height: 263px;
    width: 400px;
    position: relative;
    align-items: center;
}

.image-matcha {
    height: 260px;
    width: 260px;
    border-radius: 100%;
    margin-top: 15px;
}

@media (min-width: 769px) {
    .page-1 {
       flex-direction: column;
       align-items: center;
       gap: 200px;
    }
}

@media (min-width: 1025px) {
	.page-1 {
        flex-direction: row;
        justify-content: center;
        gap: 80px;
    }
}